.btn-secondary {
    background-color: var(--dark);
    text-transform: none;
    border-radius: 8px;
    border: 1px solid var(--dark-border);
    height: 100%;
}

.btn-secondary:hover,
.btn-secondary:focus {
    background-color: var(--dark-border);
}

.btn-secondary > .text {
    color: #FFFFFF;
    opacity: 0.65;
    font-size: 14px;
    font-weight: 500;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
}