.btn-text {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    opacity: 0.65;
    text-transform: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    gap: 5px;
    transition: gap .2s;
}

.btn-text:hover,
.btn-text:focus {
    opacity: 1;
    background-color: transparent;
    gap: 10px;
}

.chevron {
    color: #FFFFFF;
    height: 12px;
}