.btn-text {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    opacity: 0.65;
    text-transform: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.btn-text:hover,
.btn-text:focus {
    opacity: 1;
    background-color: transparent;
}

.chevron {
    color: #FFFFFF;
    margin-left: 5px;
    height: 12px;
    margin-top: 2px;
}