.custom-select {
    display: flex;
    height: 100%;
    width: 100%;
}
.custom-select::after,
.custom-select::before,
.custom-select:hover::before,
.custom-select:hover::after {
    display: none;
}

.custom-select > div {
    padding-bottom: 10px;
}

.custom-select > svg {
    color: #FFFFFF;
    height: 16px;
}

.option-text {
    opacity: 1;
    font-family: franklin-gothic-urw, serif;
    font-weight: 700;
    line-height: 20px;
    font-size: 14px;
}
