.hero {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: auto;
    margin-top: 15vh;
}
.hero-text > h1 {
    display: inline;
}


.hero-text > .subtitle {
    margin-top: 15px;
    margin-right: 100px;
}

.shadow-text {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 500;
    font-style: italic;
    opacity: 0.15;
    margin-top: -25px;
    margin-left: 5vw;
}

.email-signup {
    display: inline-flex;
    flex-direction: row;
    gap: 20px;
    width: 50%;
    margin-top: 50px;
}

#hero-img {
    margin-left: calc(-1 * var(--page-margins));
    margin-right: calc(-1 * var(--page-margins));
    width: 100vw;
    margin-top: -100px;
}

.home > .categories {
    margin-top: 15vh;
}

.home > .categories > .categories-grid {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: 'item-0 item-0 . item-1 item-1 . item-2 item-2 . item-3 item-3';
    margin-top: 5vh;
}

.home > .modules {
    margin-top: 15vh;
}

#volume-img {
    width: 100%;
}

.home > .cta {
    align-content: center;
}
.home > .cta > h1 {
    text-align: center;
}