.system-msg-container {
    height: 50px;
    line-height: 50px;
    width: 100%;
    text-align: center;
    justify-content: middle;
    background-color: var(--yellow);
    padding-left: var(--page-margins);
    padding-right: var(--page-margins);
    display: inline-flex;
    flex-direction: row;
}


.system-msg-container > .system-msg-link {
    flex: 1;
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

.system-msg {
    color: var(--darkest);
    font-size: 14px;
    font-weight: 700;
    display: inline-block;
    opacity: 1;
}

.system-msg-container  > .close {
    display: flex;
    justify-content: middle;
    align-items: center;
    float: right;
    margin-left: auto;
}

.system-msg-container  > .close > .close-btn {
    margin-right: -6px;
}
