.governance {
    margin-bottom: 180px;
}

.governance-tabs {
    display: flex;
    flex-direction: row;
    padding-right: 20px;
    margin-bottom: 40px;
    flex: 1 100%;
}

.filter-tabs {
    display: flex;
    flex-direction: row;
    gap: 30px;
    border-bottom: 1px solid var(--dark-border);
    padding-right: 10%;
    padding-left: 20px;
}

.filter-tab {
    display: inline-flex;
}

.filter-tab > button {
    background-color: transparent;
    border: none;
    opacity: 0.65;
    cursor: pointer;
    padding-bottom: 10px;
}

.filter-tab > button:hover,
.filter-tab > button:focus,
.filter-tab > button.active {
    opacity: 1;
    border-bottom: 1px solid #FFFFFF;
}

.filter-tab > button > p {
    font-weight: 700;
    opacity: 1;
}

.gap-tab {
    display: inline-flex;
    flex-grow: 1;
    height: 100%;
}

.sort-tabs {
    display: inline-flex;
    padding-left: 200px;
    padding-right: 20px;
    margin-left: auto;
    float: right;
    border-bottom: 1px solid var(--dark-border);
}

.sort-tab {
    display: inline;
    color:#FFFFFF;
    opacity: 0.65;
}

.expand-icon {
    opacity: 0.65;
}

.sort-tab:hover,
.sort-tab:focus,
.sort-tab:active {
    opacity: 1;
    border-bottom: 1px solid #FFFFFF;
    margin-bottom: -1px;
}

.governance-proposals {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
}
