.proposal-grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto;
    column-gap: 150px;
    margin-bottom: 250px;
    margin-top: 120px;
}

.proposal-details > .proposal-title {
    display: flex;
    flex-direction: row;
}

.proposal-title > .proposal-menu-btn {
    float: right;
    margin-left: auto;
    display: flex;
    align-items: center;
}

.proposal-details > h5 {
    width: 50%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.proposal-details > .proposal-tags {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 10px;
}

.proposal-details > .proposal-tags > .tag {
    width: auto;
    border: 1px solid var(--light-border);
    border-radius: 4px;
    padding: 3px 8px 3px 8px;
}

.proposal-details > .proposal-tags > .tag > .tag-text {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    opacity: 1;
}

.proposal-details > .proposal-provider {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin-bottom: 80px;
}

.proposal-details > .proposal-provider > .provider-icon-container {
    display: flex;
    border: 1px solid #FFFFFF65;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    justify-content: center;
    padding-bottom: 1px;
}


.proposal-provider > .provider-icon-container > img {
    width: 60%;
    height: 60%;
    align-self: center;
}
.proposal-provider > .provider-name {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    align-items: center;
    padding-top: 1px;
}

.voting {
    width: 400px;
}

.voting-info {
    background-color: var(--dark-border);
    border-radius: 4px;
    padding: 20px 17px 20px 17px;
    margin-bottom: 70px;
}

.voting-detail {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.voting-detail-info {
    float: right;
    margin-left: auto;
    display: inline-flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    vertical-align: sub;
}

.voting-results {
    width: 400px;
    background-color: var(--dark-border);
    border-radius: 4px 4px 0px 0px;
    padding: 20px 17px 20px 17px;
}

.voting-results > h4 {
    margin-bottom: 10px;
}

.voting-results > .voting-bar-header {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.voting-results > .voting-bar-header > .voting-percentage {
    float: right;
    margin-left: auto;
}

.voting-results > .voting-bar {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.voting-bar > .voting-progress-remaining {
    background-color: var(--dark-border);
    border: 1px solid var(--darkest);
    height: 6px;
    flex-grow: 1;
}

.voting-bar > .voting-progress {
    background-color: var(--yellow);
    border: 1px solid var(--dark-yellow);
    height: 6px;
}

.voting > .voting-action {
    background-color: var(--dark);
    border-radius: 0px 0px 4px 4px;
    padding: 12px 17px 12px 17px;
}

.voting-action > .voting-buttons {
    display: flex;
    flex-direction: row;
    height: 32px;
    gap: 10px;
}
