.accordion {
    background-color: transparent;
    box-shadow: none;
    margin: 0px;
}

.accordion::before {
    position: inherit;
}

.accordion-summary {
    height: 100px;
    padding-left: 0px;
    border-bottom: 1px solid var(--dark-border);
}

.accordion-summary:hover .expand-icon,
.accordion-summary:focus .expand-icon {
    opacity: 1;
}

.accordion-details {
    padding: 35px 0px 50px 0px;
    white-space: pre-wrap;
    border-bottom: 1px solid var(--dark-border);
}

.expand-icon {
    color: #FFFFFF;
    opacity: 0.65;
}