#navbar {
    height: 60px;
    max-height: 60px;
    line-height: 60px;
    width: 100%;
    border-bottom: 1px solid var(--dark-border);
    padding-left: var(--page-margins);
    padding-right: var(--page-margins);
    display: inline-flex;
    flex-direction: row;
    background-color: var(--darkest);
} 

nav {
    position: sticky;
    top: 0px;
    z-index: 10;
}

.nav-flex {
    display: flex;
    width: 100%;
}

.nav-flex > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
}

.nav-flex > ul > li {
    display: inline-flex;
    flex-grow: 1;
}

#nav-mobile {
    float: right;
    margin-left: auto;
}

#nav-mobile-grid {
    position: relative;
    top: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    height: auto;
    padding: 50px 20px 50px 20px;
    border-bottom: 1px solid var(--dark-border);
    background-color: var(--darkest);
}

#nav-mobile-grid > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.nav-flex.mobile-flex > ul {
    flex-direction: column;
}

.nav-flex.mobile-flex > .nav-icons {
    display: flex;
    flex-direction: column;
}


.nav-item {
    color: inherit;
    font-size: 14px;
    font-weight: 500;
}

.nav-link {
    color: var(--white-65);
    flex: 1;
    text-decoration: none;
    height: 100%;
    display: block;
    margin-bottom: -1px;
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active {
    color: var(--white);
    box-shadow: 0 1px 0 0 var(--white);
    margin-bottom: -1px;
}

.nav-icons {
    display: flex;
    float: right;
    margin-left: auto;
    gap: 30px;
}

.nav-icons > .social-icons {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.text-with-icon {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.img-container {
    display: inline-block;
    height: 100%;
}

#nav-logo {
    margin-right: 30px;
}

#nav-badge {
    height: 19px;
    width: 20px;
    vertical-align: sub;
}

#star {
    vertical-align: sub;
}

#nav-hamburger {
    color: inherit;
    padding-right: 0px;
}

#nav-menu {
    padding-right: 8px;
    margin-right: -8px;
}

#nav-popout {
    position: absolute;
    width: 100%;
    overflow: hidden;
}

#nav-action-btn {
    display: block;
    position: fixed;
    bottom: 0px;
}

#nav-action-link {
    flex: 1;
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

@media only screen and (min-width: 600px) {
    #navbar {
        position: static;
    }
}