.footer {
    width: 100%;
    height: 390px;
    border-top: 1px solid var(--dark-border);
    padding-left: 140px;
    padding-right: 140px;
    position: absolute;
    bottom: 0;
}

.footer-appendage {
    width: 100%;
    height: 50px;
    border-top: 1px solid var(--dark-border);
}

.footer > li {
    text-transform: capitalize;
}

.grid {
    display: grid;
    grid-template-columns: repeat(1fr, 12);
}

.grid > div {
    border: 1px solid red
}