@import url("https://use.typekit.net/evr1bsi.css");

:root {
  --darkest: #1C1C1C;
  --dark: #272727;
  --dark-border: #707070;
  --yellow: #EFF855;
  --dark-yellow: #BEC729;

  --page-margins: 140px;
}

* {
  box-sizing: border-box;
  font-family: franklin-gothic-urw, serif;
  margin: 0;
}

body {
  background: var(--darkest);
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  color: #FFFFFF;
  font-size: 48px;
  font-weight: 500;
}

h3 {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 500;
}

h4 {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
}

h5 {
  color: #FFFFFF;
  font-size: 18px;
  opacity: 0.65;
  font-weight: 500;
}

h6 {
  color: #FFFFFF;
  font-size: 16px;
  opacity: 0.65;
  font-weight: 500;
}

p {
  color: var(--dark-border);
  font-size: 14px;
  font-weight: 500;
}

.yellow {
  color: var(--yellow);
}

.link-wrapper {
  text-decoration: none;
}