.text-field-inline {
    border-radius: 8px;
    background-color: var(--dark);
    border: 1px solid var(--dark-border);
    width: 200px;
    height: 40px;
}

.text-field-inline::after,
.text-field-inline::before{
    all: unset;
}

.text-field-inline > input {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    padding: 10px;
}