#vol-graph {
    width: 100%;
    border-bottom: 1px solid var(--dark-border);
}

.bars {
    display: grid;
    grid-template-columns: repeat(28, 1fr);
    grid-template-rows: 340px;
    column-gap: 10px;
}

.bar-container {
    position: relative;
    width: auto;
    align-self: end;
    padding-bottom: 6px;
    margin-bottom: -1px;
    border-color: var(--dark-border);
    font-family: franklin-gothic-urw;
    font-size: 14px;
    font-weight: 700;
    color: var(--white);
    line-height: 17px;
}

.bar {
    width: auto;
    border: 1px solid;
    border-color: inherit;
}

.bar-container:hover,
.bar-container:focus {
    border-bottom: 1px solid var(--yellow);
    background-color: var(--yellow);
    background-clip: content-box;
    border-color: var(--dark-yellow);
}

.bar-container:hover > .before-line {
    background-color: var(--yellow);
}

.bar-container:last-child::after,
.bar-container:first-child::after {
    color: var(--white-65);
    position: absolute;
    bottom: -29px;
    left: 50%;
    transform: translateX(-50%);
}

.bar-container:hover::after {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--white);
}

.bar-container:hover::before {
    white-space: nowrap;
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
}

.before-line {
    height: 40px;
    width: 1px;
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
}